<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <h1> welcome to Ebay!!!!</h1>
    <h4>your best shopping website </h4>
    <img src="https://is5-ssl.mzstatic.com/image/thumb/Purple114/v4/59/9e/41/599e41c7-2a5f-4761-a7aa-4a34c50d8c94/SOEAppIcon-0-1x_U007emarketing-0-6-0-0-0-85-220.png/1200x630wa.png">
    <a href="{{url_for('cart')}}">Cart</a>
     <ul>
  
      <br>
      <a href="product.html">
      <li>Sofas <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1623474214-white-sectional-1623474160.jpg">

      </li>
    </a>
    </ul> 
</head>
<body>

</body>
</html>