<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ebay</title>
    <h1>superstore</h1>
    <P>
        Retail store (grocery, books, electronics, gardening...)
    </P>
    <img src= "/static/elec.jpeg"> width="500" height="600"
    <img src= "/static/gro.jpeg">width="500" height="600"
    <img src= "/static/gard.jpg"> width="500" height="600"
    <img src= "../books.jpeg">width="500" height="600"
    <img src= "/static/shoppingcart.webp">width="500" height="600"
</head>
<body>

</body>
</html>