<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>

<a href="https://youtu.be/dQw4w9WgXcQ">
    <h1>
Great Sofa
<img src="https://media.wired.com/photos/5f6e51ec1518e2504fb04020/191:100/w_2580,c_limit/Gear-Eliot-sofa-SOURCE-Joybird.jpg">

<br>
10000000 shekels
</h1>

<h3>
buy it now
</a>
<br>
free shipping 

</h3>
<a href="home.html">Go home </a>
<br>
<a href='cart.html'> Cart </a>
</body>
</html>